<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	
	<div th:fragment="createAndJoinGame">
		<h3 style="align-self: center; text-align: center;">Play Shiritori</h3>
		<label for="createOrJoinGameName">Game room name: </label>
		<input type="text" class="userInput" id="createOrJoinGameName" placeholder="name..."/>
		<label for="createOrJoinGamePassword">Game room password: </label>
		<input type="text" class="userInput" id="createOrJoinGamePassword" placeholder="password..."/>
		<!-- TODO: add a button to "find" games. This will show all games and allow them to join -->
		<div style="text-align: center;" id="joinCreateButtonDiv">
			<button id="createGameButton">Create</button>
			<button id="joinGameButton">Join</button>
			<button id="findGamesButton">Search</button>
		</div>
		
	</div>
	
	<div th:fragment="findGames">
		<!-- For each game in games object passed in, build a div with the info about said game -->
		<h2 style="text-align: center">Current games</h2>
		<!-- if game has a password, add a space for them to enter a password -->
		<div class="foundGame" th:each="game: ${shiritoriGames}">
			<span th:text="${game.key}"></span>
			<span><input th:id="${game.key} + '_findGamePassword'" type="text" class="userInput" placeholder="password..."/></span>
			<button th:value="${game.key}" onclick="joinGame(this);">Join</button>
		</div>
	</div>
	
</body>
</html>